@media (max-width: 1230px) {
	/*Team*/
	.team__content__container {
	    margin-left: 0;
		height: 600px;
		justify-content: center;
		width: 100%;
	}

	.team__content__employees {
		width: 100%;
		justify-content: flex-end;
	}

	.employee__img {
		margin-right: 40px;
	}

	.is-selected .employee__img {
	    width: 250px;
	    height: 350px;
	}

	.employee__info {
	    top: 65px;
	    width: 695px;
	}
	/*end Team*/
}

@media (max-width: 1199px) {
	/*Header*/
	.header__content {
		flex-direction: column-reverse;
		padding-top: 40px;
		align-items: center;
	}

	.header-offer {
		width: 100%;
		margin-top: 50px;
		text-align: center;
	}

	.header-offer__desc {
		max-width: 100%;
	}

	.header-video {
		width: 100%;
	}
	/*end Header*/
	/*Provide*/
	.provide-box {
		flex-direction: column;
		align-items: center;
		padding-top: 40px;
	}
	
	.provied-offer {
		text-align: center;
	}

	.provide-exx {
		margin-top: 60px;
		text-align: center;
	}
	/*end Provide*/
	/*Feature*/
	.feature__nav-links {
		justify-content: space-around;
	}

	.feature__nav-links__item {
		padding: 0;
	}

	.feature__nav-links__item:first-child {
		padding: 0;
	}
	/*end Feature*/
}

@media (max-width: 996px) {
	/*Team*/
	.team__content__employees {
		justify-content: space-between;
	}

	.employee__img {
		margin-right: 20px;
	}

	.is-selected .employee__img {
	    width: 250px;
	    height: 350px;
	}

	.employee__info {
	    top: 65px;
	    width: 63%;
		padding-right: 10%;
	}
	/*end Team*/
}

@media (max-width: 910px) {
	/*Team*/
	.team__content__container {
		height: 850px;
	}

	.team__content__employees {
		justify-content: center;
		width: 600px;
		flex-wrap: wrap;
	}

	.employee__img {
		margin: 0 40px 20px 40px;
	}

	.is-selected .employee__img {
	    top: 0;
	    left: 0;
	    transition: none;
	    margin: 0;
	}
	/*end Team*/
}

@media (max-width: 767px) {
	.wrapper {
		padding: 0 15px;
	}
	/*Header*/
	.header__nav-links {
		display: block;
		text-align: center;
		position: absolute;
		background-color: #312f30;
		right: 0;
		top: 101%;
		width: 200px;
		visibility: hidden;
		opacity: 0;
	}
	.header__nav-links.is-show{
		visibility: visible;
		opacity: 1;
	}

	.header__drop {
		display: block;
	}
	/*end Header*/
	/*Feature*/
	.feature__nav-links__item {
		margin: 0 10px;
	}
	
	.feature__img {
		justify-content: center;
	}

	.feature__img_item {
		width: 30%;
		margin: 0px 10px;
	}
	/*end Feature*/
	/*Team*/
	.employee__info {
	    top: 360px;
		left: 0;
		padding-right: 0;
		width: 100%;
	}

	.team__content__container {
    	height: 1050px;
	}
	/*end Team*/
}

@media (max-width: 638px) {
	/*Header*/
	.header-offer__title {
		font-size: 42px;
		line-height: 54px;
	}
	/*end Header*/
	/*Provide*/
	.provide-exx {
		justify-content: center;
		max-width: 555px;
	}
	/*end Provide*/
	/*Feature*/
	.feature__nav-links {
		flex-wrap: wrap;
		justify-content: center;
	}

	.feature__nav-links__item {
		margin-bottom: 10px;
	}

	.feature__img_item {
		width: 45%;
	}
	/*end Feature*/
	/*Team*/
	.team__content__employees {
		width: 100%;
	}

	.employee__img {
    	margin: 0 10px 15px 10px;
	}
	/*end Team*/
}

@media (max-width: 479px) {
	/*Header*/
	.header__content {
		padding-top: 20px;
	}

	.header-offer__title {
		font-size: 32px;
		line-height: 42px;
	}

	.header-offer__title_second-paragraph {
		letter-spacing: 1px;
	}

	.feature__img_item {
		width: 100%;
	}
	/*end Header*/
	/*Team*/
	.team__content__container {
    	height: 1560px;
	}	

	.team__content__employees {
		width: 250px;
	}

	.employee__img {
    	margin: 0 0 15px 0;
	}
	/*end Team*/
}

@media (max-width: 319px) {
	/*Header*/
	.header-offer__title {
		font-size: 30px;
		line-height: 42px;
	}
	/*end Header*/
	/*Team*/
	.team__content__container {
    	height: 1650px;
	}	
	/*end Team*/
}
